@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 88vh;
  background-color: #E4E7E9;
  /* background-color: #323d4c; */
  background-color: #d4dbdf;
}

.bodyRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  width: 47.5vw;
  height: 23.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1.25vw;
  margin-right: 1.25vw;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8.5vh;
}

.title {
  font-size: 17px;
  color: #333333;
}

.input {
  width: 46.3vw;
  height: 5.5vh;
  padding-left: 0.6vw;
  padding-right: 0.6vw;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  color: #333333;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2.5vh;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.5vh;
  width: 7vw;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 12.5px;
  font-weight: 500;
  background-color: #13538A;
  color: #FFFFFF;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.buttons:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15),
    inset 0 0 0 1px #093F6C;
}

.buttons:active {
  background-color: #093F6C;
}

.youTubeIcon {
  height: 7vh;
  margin-right: 0.5vw;
}

.tikTokIcon {
  height: 5vh;
  margin-right: 0.5vw;
}

.swal2-container.swal2-backdrop-show {
  background: rgba(0, 0, 0, 0.6) !important;
}

.swal2-popup {
  width: 24vw !important;
  border-radius: 16px !important;
}

.swal2-html-container {
  margin-top: 3vh !important;
  color: #323D4D !important;
  font-size: 16.5px !important;
  font-weight: 400 !important;
}

.swal2-styled.swal2-confirm {
  height: 6vh !important;
  margin-top: 1vh !important;
  padding-left: 1.5vw !important;
  padding-right: 1.5vw !important;
  border-radius: 4px !important;
  background-color: #13538A !important;
  color: #FFFFFF !important;
  font-size: 12.5px !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15) !important;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-image: none !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15),
    inset 0 0 0 1px #093F6C !important;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:active {
  background-image: none !important;
  background-color: #093F6C !important;
  color: #FFFFFF !important;
}

@media (max-width: 1400px) {
  .title {
    font-size: 16.5px;
  }

  .input {
    font-size: 15px;
  }

  .buttons {
    font-size: 12px;
  }

  .youTubeIcon {
    height: 7.2vh;
  }

  .tikTokIcon {
    height: 5.2vh;
  }

  .swal2-html-container {
    font-size: 16px !important;
  }

  .swal2-styled.swal2-confirm {
    font-size: 12px !important;
  }
}

@media (max-width: 1280px) {
  .title {
    font-size: 16px;
  }

  .input {
    font-size: 14px;
  }

  .buttons {
    font-size: 11.5px;
  }

  .youTubeIcon {
    height: 7.4vh;
  }

  .tikTokIcon {
    height: 5.4vh;
  }

  .swal2-popup {
    width: 25vw !important;
  }

  .swal2-html-container {
    font-size: 15.5px !important;
  }

  .swal2-styled.swal2-confirm {
    font-size: 11.5px !important;
  }
}
